    <div class="row">
        <div class="jumbotron">
            <div class="container">
                <div class="page-header text-center">
                    <h1>Json Web Token(JWT) base Authentication</h1>
                </div>
                <p>REST Web API Application which is responsible for generating OAuth Bearer Token(JWT) and authentication and authorization. This backend API is fully stateless and built using ASP.NET Web API 2, OWIN middleware, and ASP.NET Identity. AngularJs as the client application.</p>
            </div>
        </div>
    </div>
