<div class="view">
    <div class="container">
        <header>
            <h3><span class="glyphicon glyphicon-lock"></span> Sign up</h3>
        </header>
        <form name="loginForm" novalidate>
            <div class="login">
                <div class="row">
                    <div class="col-md-2">
                        User Name:
                    </div>
                    <div class="col-md-10">
                        <input type="text" name="userName" class="form-control" data-ng-model="registration.name" required />
                        <span class="errorMessage" ng-show="loginForm.userName.$touched && loginForm.userName.$invalid">
                            User Name is required
                        </span>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-2">
                        Password:
                    </div>
                    <div class="col-md-10">
                        <input type="password" name="password" class="form-control"
                               data-ng-model="registration.password"
                               data-ng-minlength="6"
                               required />
                        <span class="errorMessage" ng-show="loginForm.password.$touched && loginForm.password.$invalid">
                            Password is required
                        </span>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-2">
                        Confirm Password:
                    </div>
                    <div class="col-md-10">
                        <input type="password" name="confirmPassword" class="form-control"
                               data-ng-model="registration.confirmPassword"
                               data-ng-minlength="6"
                               required />
                        <span class="errorMessage" ng-show="loginForm.password.$touched && loginForm.password.$invalid">
                            Confirm password is required
                        </span>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary"
                                data-ng-click="signUp()"
                                ng-disabled="loginForm.$invalid || !loginForm.$dirty">
                            Save
                        </button>
                    </div>
                </div>
                <br />
                <div class="statusRow">
                    <br />
                    <div class="label label-important" data-ng-show="errorMessage">
                        <span class="glyphicon glyphicon-thumbs-down icon-white"></span>&nbsp;&nbsp;Error: {{ errorMessage }}
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

